### Environment ###
/.env

### Node build artifacts ###
/node_modules

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### macOS system files ###
.DS_Store

### Ansible build artifacts ###
slither-report.json
.vscode/settings.json

### hardhat ###
/artifacts/
/cache/

# OpenZeppelin
.openzeppelin/
.openzeppelin/*.json
/types/

package-lock.json
out/

